@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
.nav-barbar-grande{
    margin-bottom: 60px;
}
.navbar {
    background-color: #A788AA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding:0 13px;
    position: fixed; 
    top: 0;          
    width: 100%; 
    z-index: 1000; 
    
}

.logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 60px;
    height: 60px;
    margin: 10px 0;
  }
  
  .logo a{
    font-size: 22px;
    color: #545454;
    font-weight: 700;
    text-decoration: none;
    margin-left: 10%;
  }
  
  .logo a:hover{
    font-weight: bold;
    display: inline-block;
    transform: scale(1.1); 
    
  }

  .nav-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item a {
    color: #545454;
    font-size: 18px;
    padding: 15px 12px;
    margin-right: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
  }


.nav-items a:hover {
    font-weight: bold;
    display: inline-block;
    transform: scale(1.1); 
}
  
  .auth {
    display: flex;
    align-items: center;
  }
 
  .login-button {
    padding: 7px 19px;
    margin-right: 20px;
    background-color: #8F7193;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
  }
  
  .signup-button {
    padding: 7px 19px;
    margin-right: 20px;
    background-color: #8F7193;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

  }

  .hamburger-icon {
    display: none; /* Oculto por defecto */
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    margin-right: 10px;
  }

  @media screen and (max-width: 768px) {
    .navbar {
      margin-top: 0px;
    }

    .hamburger-icon {
      display: block; /* Muestra el ícono de hamburguesa en pantallas pequeñas */
    }
  
    /* Oculta los elementos del menú en pantallas pequeñas */
    .nav-items, .auth {
      display: none;
    }
  
    /* Muestra el menú cuando se hace clic en el ícono de hamburguesa */
    .nav-active .nav-items, .nav-active .auth {
      display: block;
      flex-direction: column;
    }
  }

  .signup-button:hover{
    font-weight: bold;
    display: inline-block;
    transform: scale(1.1); 
  }


/*************************************************/

.main-image img{
    width: 100%;;
}


/**********************swiper features***************************/

.swipersection{
    width: 100%;
    height: 100%;
    position: relative;
    background: #ffffff;
    margin-bottom: 15px;
}

.Titleswiper{
    text-align: center;
    font-size: 35px; 
    color: #2c3e50;
    font-family: 'Open Sans', sans-serif;
}


.swiper-hero {
    width: 80%;
    height: 100%;
}

.swiper-hero img{
    /* height: 340px; */
    width :100%;
    object-fit: cover;
}

.swiper-hero .swiper-button-prev,
.swiper-hero .swiper-button-next,
.swiper-ProductosNuevos .swiper-button-prev,
.swiper-ProductosNuevos .swiper-button-next
{
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: black;
    background-color: white;
    height: 70px;
    width: 50px;
    margin-top: -35px;

    opacity: 0;
    transition: 0.5s;
}

.swiper-hero .swiper-button-prev,
.swiper-ProductosNuevos .swiper-button-prev
{
    border-radius: 0 65px 65px 0;
    left: -10px;
}

.swiper-hero .swiper-button-next,
.swiper-ProductosNuevos .swiper-button-next
{
    border-radius: 65px 0 0 65px;
    right: -10px;
}

.swiper-hero:hover .swiper-button-prev,
.swiper-hero:hover .swiper-button-next,
.swiper-ProductosNuevos .swiper-button-prev,
.swiper-ProductosNuevos .swiper-button-next
{
    opacity: 1;
}

.swiper-hero .swiper-pagination,
.swiper-ProductosNuevos .swiper-pagination
{
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: black;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagintaion-bullet-opacity: 1;
    --swiper-pagination-bullet-horizantal-gap: 2px;
}

@media screen and (max-width: 768px){
    header{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .logo{
        margin-bottom: 20px;
    }

    nav{
        margin-top: 20px;
    }

    .swiper-hero {
        width:100%;
        height: auto;
        padding-left: auto;
        padding-right: auto;
        grid-gap: 30px;
        padding: 35px 0;
    }

    .swiper-img{
        width: 100%;
        height: auto;

    }
    
    .swiper-hero .swiper-slide:nth-child(1) img {
        content: url('../images/FeatureMobile1.png'); 
       
    }

    .swiper-hero .swiper-slide:nth-child(2) img {
        content: url('../images/FeatureMobile2.png'); 
        
    }

    .swiper-hero .swiper-slide:nth-child(3) img {
        content: url('../images/FeatureMobile3.png'); 
        
    }

    .swiper-hero .swiper-slide:nth-child(4) img {
        content: url('../images/FeatureMobile4.png'); 
        
    }
    
}

/***********************************Planes***************************************/
.plans-section {
    margin-top: 10%;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: #c0a0c3;
    padding: 40px 0;
  }
  
  .plans-section h1 {
    color: #2c3e50;
    font-size: 2.5rem;
  }
  
  .description {
    color: #7f8c8d;
    margin-bottom: 2rem;
  }
  
  .plans-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .plan-card {
    background: #ffffff;
    border-radius: 10px;
    width: 300px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .featured {
    background: #8F7193;
    color: #ffffff;
  }
  
  .featured::after {
    content: "★";
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 50px;
    color: #ffffff;
  }
  
  .plan-card h2{
    color: inherit;
    margin: 0.5rem 0;
  }
  
  .price {
    font-size: 3rem;
    font-weight: bold;
    color: inherit;
  }
  
  .price span {
    font-size: 1rem;
  }
  
  .plan-description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .plan-features,.plan-features-regular  {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .plan-features li, .plan-features-regular li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
  
  .plan-features li::before {
    content: "✔";
    color: #1b8eff;
    margin-right: 10px;
  }
  .plan-features-regular li::before {
    content: "✔";
    color: #ffffff;
    margin-right: 10px;
  }
  .plan-button-premium{
    background: #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: 70%;
    font-weight: bold;
    margin-top:20px;
    margin-bottom: 20px;
  }
  .plan-button-basic{
    background: #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: 70%;
    font-weight: bold;
    margin-top:80px;
    margin-bottom: 20px;
  }
  .plan-button-regular{
    background: #ffffff;
    border-style:none;
    border-radius: 20px;
    padding: 10px 20px;
    width: 70%;
    margin-top:50px;
    margin-bottom: 20px;
  }
  .plan-card button:hover{
    background: #b2ebf2;
    color: #ffffff;
  }
  .plan-card:hover{
    transform: translateY(-20px);
  }
  
  .plan-card{
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; 
  }

  @media (max-width: 990px) {
    .plans-container {
        margin-top: 40%;
      flex-direction: column;
      align-items: center;
    }
  }


/***************contact us form********/

.contact-section {
    background-image: url('assets/images/fondito.png');
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir el área */
    padding: 50px; /* Agrega espacio alrededor del contenido */
}

.contact-content {
    max-width: 600px; /* Limita el ancho del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 40px;
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
}

.contact-form h1 {
    text-align: center; /* Centra el título */
    margin-bottom: 20px;
    color: #333; /* Color del texto */
}

.form-group {
    margin-bottom: 20px; /* Espacio entre grupos de campos */
}

label {
    display: block; /* Hace que las etiquetas estén en una nueva línea */
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Borde del campo */
    border-radius: 5px;
}

textarea {
    height: 150px; /* Altura del área de texto */
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8F7193; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave al pasar el mouse */
}

.submit-btn:hover {
    background-color: #c0a0c3 ; /* Color de fondo del botón al pasar el mouse */
}

  /************************************************************************/
  
  .more-information-container {
    width: 100%;
    height: auto;
    position: relative;
    background: white;
    margin-top: 15px;
    padding-bottom: 100px;
    
  }


.welcome {
    width: 480px;
    position: relative;
    color: black;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    display: flex;
    flex-direction: column;
    margin: 0 13px;
    padding-left: 15%;
}

.about-us {
    position: relative;
    color: #323842;
    font-size: 52px;
    font-weight: 700;
    line-height: 74px;
    padding-left: 15%;
}

.know-more {
    /*background-color: orange;*/
    width: 50%;
    position: relative;
    color: #323842;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 15%;
}

.more-information-container{
    /*background-color: red;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
   
}
.about-us{
    /*background-color: yellow;*/
    margin: 0;
    width: 70%;
    height: 100px;
    grid-column: 1;
}
.welcome{
    /*background-color: green;*/
    margin: 0;
    width: 70%;
    height: auto;
    grid-column: 1;
}
.logoNinjacode img{
  /*background-color: aqua;*/
  position: relative;
  width: 300px;
  height: 300px;
  grid-column: 2;
}

.logoNinjacode{
  /*background-color: blue;*/
  width: 300px;
  height: 300px;
  grid-column: 2;
  margin-left: 20%;
  margin-top: 0%;
}
@media screen and (max-width: 768px) {
    .more-information-container {
        padding-bottom: 100px; /* Ajusta el padding inferior para dispositivos móviles */
    }

    .welcome {
        width: 90%; /* Cambia el ancho del texto para que ocupe todo el ancho en dispositivos móviles */
        padding-left: 5%; /* Elimina el padding izquierdo en dispositivos móviles */
        font-size: 16px;
    }

    .about-us{
      width: auto;
    }

    .about-us,
    .know-more {
        padding-left: 5%; /* Elimina el padding izquierdo en dispositivos móviles */
    }
    .logoNinjacode{
      grid-column:1;
    }
    .logoNinjacode img{
      grid-column: 1;
    }

}


